.light-grey {
    color: #7d97ad;
}

.grey {
    color: #2d3c49;
}

body {
    margin: 10px auto;
    font-family: "Roboto", sans-serif;
}

h2 {
    text-transform: uppercase;
}

img {
    border-radius: 15px;
}

header {
    border-bottom: 2px solid #7d97ad;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

main {
    margin-top: 20px;
}

.logo {
    min-width: 128px;
}

.name {
    font-weight: 100;
    font-size: 48px;
    margin: 0;
}

.title {
    font-weight: 300;
    font-size: 24px;
}